volumes:
  postgres:
  minio:

services:
  lavalink:
    container_name: lavalink
    image: fredboat/lavalink:master
    volumes:
      - "./config/lavalink/application.yml:/opt/Lavalink/application.yml:ro"
    restart: unless-stopped

  postgres:
    image: "postgres:alpine"
    volumes:
      - "postgres:/var/lib/postgresql/data"
    environment:
      POSTGRES_PASSWORD: "yuri69"
      POSTGRES_USER: "yuri69"
      POSTGRES_DB: "yuri69"
    restart: unless-stopped

  minio:
    image: "quay.io/minio/minio"
    ports:
      - "9001:9001"
    volumes:
      - "minio:/data"
    environment:
      MINIO_ROOT_USER: "yuri69"
      MINIO_ROOT_PASSWORD: "yuri69"
    command: server /data --console-address :9001
    restart: unless-stopped

  yuri69:
    image: "ghcr.io/zekrotja/yuri69:latest"
    hostname: "yuri69"
    ports:
      - "80:80"
    environment:
      YURI_STORAGE_TYPE: "minio"
      YURI_STORAGE_MINIO_ENDPOINT: "minio"
      YURI_STORAGE_MINIO_ACCESSKEYID: "yuri69"
      YURI_STORAGE_MINIO_SECRETACCESSKEY: "yuri69"
      YURI_STORAGE_MINIO_LOCATION: "us-east-1"
      YURI_STORAGE_MINIO_SECURE: "false"
      YURI_DATABASE_TYPE: "postgres"
      YURI_DATABASE_POSTGRES_HOST: "postgres"
      YURI_DATABASE_POSTGRES_DATABASE: "yuri69"
      YURI_DATABASE_POSTGRES_USERNAME: "yuri69"
      YURI_DATABASE_POSTGRES_PASSWORD: "yuri69"
      YURI_DISCORD_TOKEN: "**********"
      YURI_DISCORD_OWNERID: "221905671296253953"
      YURI_WEBSERVER_PUBLICADDRESS: "http://localhost"
      YURI_WEBSERVER_DISCORDOAUTH_CLIENTID: "**********"
      YURI_WEBSERVER_DISCORDOAUTH_CLIENTSECRET: "**********"
      YURI_PLAYER_LAVALINK_ADDRESS: "lavalink:2333"
      YURI_PLAYER_LAVALINK_PASSWORD: "password"
    restart: unless-stopped
    command: "-l 5"
    depends_on:
      - "minio"
      - "postgres"
      - "lavalink"
