server: # REST and WS server
  port: 2333
  address: 0.0.0.0
lavalink:
  server:
    password: "password"
    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
    bufferDurationMs: 400
    youtubePlaylistLoadLimit: 6 # Number of pages at 100 each
    playerUpdateInterval: 5 # How frequently to send player updates to clients, in seconds
    youtubeSearchEnabled: false
    soundcloudSearchEnabled: false
    gc-warnings: true

logging:
  level:
    root: INFO
    lavalink: INFO
